@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
