/* all style */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: inherit;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: var(--content-font-color);
    padding-right: 0 !important;
    background: #fff;
}

/* all style */

/* Header */

.desktop-header-block {
    display: flex;
    padding: 13px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #E6E6E6;
    background: #FFF;
}

.header-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.header-desktop-left-column {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-desktop .logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.header-desktop .logo span {
    color: #000929;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.87px;
}

.header-desktop-left-column .header-line {
    border-left: 1px solid #eee;
    height: 30px;
}

.header-desktop-left-column .menu-items-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.menu-item {
    position: relative;
}

.font-menu-items {
    color: #020B18;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.dropdown-menu {
    position: absolute;
    top: 45px;
    background: #fff;
}

.header-desktop-right-column {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-desktop-right-column .deposit-btn {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #EC1F25;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 20px */
}

.header-desktop-right-column .login-btn {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Red-Primary, #EC1F25);
    background: #FFF;
    color: var(--Red-Primary, #EC1F25);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 20px */
}

.header-desktop-right-column .manage-btn {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: var(--Blue-2nd, #002F7A);
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 20px */
}

.header-desktop-right-column .notify-btn {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0px 1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--BG-Light-Blue, #F5F9FF);
    background: var(--BG-Light-Blue, #F5F9FF);
}

.header-desktop-right-column .user-info {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    gap: 14px;
    border-radius: 8px;
    border: 1.5px solid var(--Border-Blue, #E6F0FF);
}

.header-desktop-right-column .user-info img {
    width: 24px;
    height: 24px;
    border-radius: 31.25px;
}

.header-desktop-right-column .user-info span {
    color: var(--Blue-Darkest, #03102A);
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 21.75px */
}

/* Header */















/*  */