.intro {
  width: 100%;
  flex-shrink: 0;
  background: linear-gradient(180deg, #ECF4FF -7.34%, rgba(244, 249, 254, 0.79) 89.19%);
  padding-top: 74px;
  padding-bottom: 74px;

  .intro-title {
    display: flex;
    width: 1340px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px 60px 50px;

    .intro-text-button {
      display: flex;
      width: 610px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      flex-shrink: 0;

      h1 {
        color: #000929;
        font-size: 40px;
        font-weight: 700;
        line-height: 126%;
        /* 50.4px */
        letter-spacing: -0.4px;
      }

      p {
        color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));

        /* Body / Medium 150% / Medium */
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
      }

      .function-btns {
        display: flex;
        width: 499px;
        align-items: center;

        #ky-gui-btn {
          background: var(--Red-Primary, #EC1F25);
          color: var(--Main-Color-White, #FFF);
          text-align: center;
          font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

          /* Body/Medium 150%/Bold */
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          /* 24px */
        }

        .default-btn {
          width: 249.5px;
          display: flex;
          padding: 13px 25px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          color: var(--Blue-2nd, #002F7A);
          text-align: center;
          font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

          /* Body/Medium 150%/Bold */
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          /* 24px */

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .intro-img {
      width: 420.65px;
      position: relative;
      padding-top: 30%;

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1340px;
  max-width: 100%;
  padding: 100px 50px;
  margin: 0 auto;
  gap: 32px;
}

.login-section {
  display: flex;
  width: 100%;
  height: 100vh;

  .thumb-img {
    position: relative;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  .login-form {
    width: 50%;
    height: 100%;

    form {
      padding-top: 100px;
      display: flex;
      width: 450px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin: 0 auto;

      h1 {
        font-size: 24px;
        font-weight: 700;
      }

      .input-account-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        .input-account {
          width: 100%;
          display: flex;
          height: 47px;
          padding: 14px 18px;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          border-radius: 6px;
          border: 1px solid var(--Grey-9th, #D1D1D1);
        }
      }
    }
  }
}
